h1 h2 h3 h4{
  font-size:8px;
}

.top {
  text-align: center;
  background-image: url("../images/47de6bb6fb4c7966225e039ca37b7d07_s.png");
}

h2 {
  text-align: right;
}

.how {
  text-align: left;
}

h3 {
  text-align: left;
}

.search {
  text-align: right;
}

h4 {
  text-align: center;
}

.nami {
  background-image: url("../images/80abcbd6c2601a72ca36b662ebf8dbf5_s.png");
}

body{
 font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 color: #000;
}
