@charset "UTF-8";
h1 h2 h3 h4 {
  font-size: 8px;
}

header {
  text-align: center;
  width: 100%;
}

.box {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/1_s.png") no-repeat center center;
}

h2 {
  text-align: right;
}

.how {
  text-align: left;
}

h3 {
  text-align: left;
}

.search {
  text-align: right;
}

h4 {
  text-align: center;
}

.nami {
  text-align: center;
  width: 500px;
  height: 500px;
  background-image: url("../images/4_s.png");
}

body {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  color: #000;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}